BACKEND_PORT=9999
POSTGRES_USER=string
POSTGRES_PASSWORD=complex_string
POSTGRES_DB=string
POSTGRES_HOST=string -> localhost
POSTGRES_PORT=9999

DATALAYER_NAME= string -> docker container or ip address
EXEC_MODE=development | production
SEED_DEVELOPMENT=true | false
SEED_PRODUCTION=true | false
FRONTEND_ORIGINS=URI

#POSTGRES_DB_PROD_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB_PROD}
#POSTGRES_DB_DEV_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATALAYER_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}

#DATABASE_URL=${EXEC_MODE === 'string' ?POSTGRES_DB_PROD_URL : POSTGRES_DB_DEV_URL}
#DATABASE_URL=${POSTGRES_DB_DEV_URL}
#FOR FUTURE RELEASES
# JWT_ACCOUNT_ACTIVATION
# JWT_RESET_PASSWORDS

#CLIENT_ENVIRO_VARS
VITE_BACKEND_URL=URI
VITE_APP_NAME="string"
