BACKEND_PORT=9999
POSTGRES_USER=string
POSTGRES_PASSWORD=complex_string
POSTGRES_DB=string
POSTGRES_HOST=string -> localhost
POSTGRES_PORT=9999

DATALAYER_NAME= string -> localhost | docker name | docker ip address
# localhost -> codebase in bare metal, datalayer in container running locally
# container name -> both docker containers running on premise
DATA_STRUCTURE=newest | restart -> prisma migrations handle
EXEC_MODE=development | production
SEED_DEVELOPMENT=true | false
SEED_PRODUCTION=true | false
FRONTEND_ORIGINS=URI

#POSTGRES_DB_PROD_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB_PROD}
#POSTGRES_DB_DEV_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATALAYER_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}

#DATABASE_URL=${EXEC_MODE === 'string' ?POSTGRES_DB_PROD_URL : POSTGRES_DB_DEV_URL}
#DATABASE_URL=${POSTGRES_DB_DEV_URL}
#FOR FUTURE RELEASES
# JWT_ACCOUNT_ACTIVATION
# JWT_RESET_PASSWORDS

#CLIENT_ENVIRO_VARS
VITE_BACKEND_URL=URI
#on bare metal: localhost:8012
#on docker: host_ip_address:8012
VITE_APP_NAME="string"
